$btn-push-width: 90px;
$btn-push-height: 40px;
$btn-push-color: #8FC981;
$btn-delete-width: 50px;
$btn-delete-color: #8FC981;
$circle-color: #8FC981;
$btn-add-color: #8FC981;
$btn-save-color: #8FC981;
$font-sedgwick: 'Roboto',
sans-serif;
$btn-hover-background-color:#70a163;
$border-color:#8FC981;